<br><br><br>
<h1>Generador de places</h1>
<button class="btn btn-primary" (click)="open(content)">Crear nuevo Place</button>
<hr>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Local type</th>
    <th scope="col">Review</th>
    <th scope="col">Facebook</th>
    <th scope="col">Twitter</th>
    <th scope="col">Instagram</th>
    <th scope="col">About</th>
    <th scope="col">Location</th>
    <th scope="col">Tel</th>
    <th scope="col">Thumbnail</th>
    <th scope="col">Edit</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let place of places; index as i">
    <th scope="row">{{ place.id }}</th>
    <td>{{ place.name }}</td>
    <td>{{ place.localType }}</td>
    <td>{{ place.review }}</td>
    <td>{{ place.facebook }}</td>
    <td>{{ place.twitter }}</td>
    <td>{{ place.instagram }}</td>
    <td>{{ place.about }}</td>
    <td>{{ place.lat}}, {{place.lng}}</td>
    <td>{{ place.tel }}</td>
    <td>{{ place.imageUrl }}</td>
    <td><button value="{{place.id}}" class="btn btn-primary">Edit</button></td>

  </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <div>
          <input class="form-control" id="name">
        </div>

        <label for="name">Local type</label>
        <div>
          <input class="form-control" id="localType">
        </div>

        <label for="name">Review</label>
        <div>
          <input class="form-control" id="Review" type="number" max="5" min="0">
        </div>

        <label for="name">facebook</label>
        <div>
          <input class="form-control" id="facebook">
        </div>

        <label for="name">instagram</label>
        <div>
          <input class="form-control" id="instagram">
        </div>

        <label for="name">about</label>
        <div>
          <input class="form-control" id="about">
        </div>

        <label for="name">tel</label>
        <div>
          <input class="form-control" id="tel">
        </div>

        <div id="map"></div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
