<br><br><br>
<h1>Generador de places</h1>
<button class="btn btn-primary" (click)="open(content)">Crear nuevo Place</button>
  <a style="margin-left: 10px; float:right;" href="http://gettwitterid.com/" target="_blank" class="btn btn-sm btn-info">Obtener ID de Twitter</a>
  <a style="margin-left: 10px; float:right" href="https://findmyfbid.com/" target="_blank" class="btn btn-sm btn-info">Obtener id de facebook</a>
  <hr>

<input type="text" class="form-group" placeholder="Buscar" (input)="searchValue" (keyup)="search($event)">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Local type</th>
    <th scope="col">Facebook</th>
    <th scope="col">Twitter</th>
    <th scope="col">Instagram</th>
    <th scope="col">About</th>
    <th scope="col">Location</th>
    <th scope="col">Tel</th>
    <th scope="col">Thumbnail</th>
    <th scope="col">Edit</th>
    <th scope="col">Pais</th>

  </tr>
  </thead>
  <tbody id="places">
  <tr *ngFor="let place of places; index as i" ng>
    <th scope="row">{{ place.id }}</th>
    <td>{{ place.name }}</td>
    <td>{{ place.localType }}</td>
    <td>{{ place.facebook }}</td>
    <td>{{ place.twitter }}</td>
    <td>{{ place.instagram }}</td>
    <td>{{ place.about }}</td>
    <td><a href="https://www.google.com/maps/search/?api=1&query={{place.lat}}, {{place.lng}}" target="_blank"> {{ place.lat}}, {{place.lng}}</a></td>
    <td>{{ place.tel }}</td>
    <td><img width="50px" src="{{ place.imageUrl }}" alt=""></td>
    <td><button value="{{place.id}}" class="btn btn-primary">Edit</button></td>
    <td>{{countries[place.id]}}</td>

  </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <div>
          <input class="form-control" id="name" name="name" [value]="Dataname" (input)="Dataname = $event.target.value">
        </div>

        <label for="name">Local type</label>
        <div>
          <input class="form-control" id="localType" name="localType" [value]="DatalocalType" (input)="DatalocalType = $event.target.value">
        </div>

        <label for="name">facebook</label>
        <div>
          <input class="form-control" id="facebook" name="facebook" [value]="Datafacebook" (input)="Datafacebook = $event.target.value">
        </div>

        <label for="name">Twitter</label>
        <div>
          <input class="form-control" id="twitter" name="twitter" [value]="Datatwitter" (input)="Datatwitter = $event.target.value">
        </div>

        <label for="name">instagram</label>
        <div>
          <input class="form-control" id="instagram" name="instagram" [value]="DataInstagram" (input)="DataInstagram = $event.target.value">
        </div>

        <label for="name">about</label>
        <div>
          <input class="form-control" id="about" name="about" [value]="DataAbout" (input)="DataAbout = $event.target.value">
        </div>

        <label for="name">tel</label>
        <div>
          <input class="form-control" id="tel" name="tel" [value]="DataTel" (input)="DataTel = $event.target.value">
        </div>

        <hr>

        <agm-map class="mapa" [zoom]="zoom" [latitude]="lat" [longitude]="lng" (mapClick)="placeMarker($event)">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>

        <label for="name">lat</label>
        <div>

          <input class="form-control" id="lat" name="lat" [value]="lat" (input)="lat = $event.target.value" [ngModel]="DataLat">


        <label for="name">lat</label>

          <input class="form-control" id="lng" name="lng" [value]="lng" (input)="lng = $event.target.value" [ngModel]="DataLng">
        </div>

        <hr>
        <div id="pictures">

        </div>



        <div class="container">
          <div class="row">
            <div class="col-xl align-items-center">
              <a style="text-align: center;" onclick="document.getElementById('thumbnail').click();">
                <div id="thumbnailPreview" style="width:247px; height: 277px; position:relative; overflow:hidden">
                  <canvas id="thumbnailCanvas" style="height:0%; position:relative; width:0%; z-index: 999"></canvas>
                <img src="{{thumbnailSrc}}" id="thumbnailImage" style="background-size: cover;width:92%; height:82%; position:absolute; left: 11px; top: 10px; border-radius:25px; border:none;" [ngStyle]="{'opacity': thumbnailSrc.length == 0 ? 0 : 1}">
                  <img src='../../assets/hot_place_frame.png' alt="" style="position:absolute; width:100%; height: 100%; z-index: 1; left:0;">

                <input id="thumbnail" type="file" name="foto" style="display:none" (change)="setThumbnail($event)">
              </div></a>
              <p>Thumbnail</p>
            </div>
          </div>
            <div class="row">
              <div class="col-xl">
                <a style="text-align: center;" onclick="document.getElementById('file-input1').click();">
                  <div style="background-color: rgb(230,230,230); width:302.22px; height: 170px; background-size: cover" [ngStyle]="{'background-image': 'url('+pictureUnoSrc+')'}">
                  <i class="far fa-image" style="line-height: 170px" *ngIf="pictureUnoSrc === ''"></i>
                  <input id="file-input1" type="file" name="foto" style="display:none" (change)="setPictureUno($event)">
                </div></a>
                <p>Picture 1</p>
              </div>

              <div class="col-xl">
                <a style="text-align: center; float: right" onclick="document.getElementById('file-input2').click();">
                  <div style="background-color: rgb(230,230,230); width:302.22px; height: 170px; background-size: cover" [ngStyle]="{'background-image': 'url('+pictureDosSrc+')'}">
                  <i class="far fa-image" style="line-height: 170px" *ngIf="pictureDosSrc === ''"></i>
                  <input id="file-input2" type="file" name="foto" style="display:none" (change)="setPictureDos($event)">
                </div></a>
                <p>Picture 2</p>
              </div>
              <div class="col-xl"></div>
            </div>
          <br>
          <div class="row">
            <div class="col-xl">
              <a style="text-align: center;" onclick="document.getElementById('file-input3').click();">
                <div style="background-color: rgb(230,230,230); width:302.22px; height: 170px; background-size: cover" [ngStyle]="{'background-image': 'url('+pictureTresSrc+')'}">
                <i class="far fa-image" style="line-height: 170px" *ngIf="pictureTresSrc === ''"></i>
                <input id="file-input3" type="file" name="foto" style="display:none" (change)="setPictureTres($event)">
              </div></a>
              <p>Picture 3</p>
            </div>

            <div class="col-xl">
              <a style="text-align: center; float: right" onclick="document.getElementById('file-input4').click();">
                <div style="background-color: rgb(230,230,230); width:302.22px; height: 170px; background-size: cover" [ngStyle]="{'background-image': 'url('+pictureCuatroSrc+')'}">
                <i class="far fa-image" style="line-height: 170px" *ngIf="pictureCuatroSrc === ''"></i>
                <input id="file-input4" type="file" name="foto" style="display:none" (change)="setPictureCuatro($event)">
              </div></a>
              <p>Picture 4</p>
            </div>
            <div class="col-xl"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">{{doneButtonTitle}}</button>
  </div>
</ng-template>

<div src="" id="test" style="width:247px; height: 277px; "></div>
